.correo{
    display: flex;
    justify-content: center;
    
    margin-top: 100px;
    

}

.correo form input,textarea{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 50px;
    margin: 15px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(145deg, #24282bae, #3940488b);
    outline:0;
    color: var(--color-3);
    text-transform: uppercase, lowercase;
    transition: .5s;
}






.correo input:focus{
    transition: .2s;
    border-bottom: 2px solid var(--color-3);
    background: linear-gradient(145deg, #24282bd4, #24262ad4);
}

.correo textarea:focus{
    transition: .2s;
    border-bottom: 2px solid var(--color-3);
    background: linear-gradient(145deg, #24282bd4, #24262ad4);
}



.correo .Enviar:hover {
    transform: translateY(-5px);
    cursor: pointer;
    transition: transform 0.3s, border-color 4s infinite alternate;
    border: 1px solid gray;
}

@keyframes borderAnimation {
    25% {
        border-color:  gray;
    }
    50% {
        border-color: rgb(0, 255, 81);
    }
    75% {
        border-color: gray;
    }
    100% {
        border-color: rgb(0, 255, 81);
    }
}
