/*subtitulos general*/

.Subtitulos h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 60px;
    color: #04db4f;
}

/*subtitulos general*/

/*Sobre mi*/

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;

}

.imagen p {
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-size: 25px;
    color: var(--color-2);
    transition: .3s;
    font-family: 'IBM Plex Mono', monospace;
    border-radius: 50px;
    background: linear-gradient(145deg, #23272b, #23272b);
    
}

.imagen p:hover {
    transform: translateY(-30px);
    transition: .5s;
    box-shadow:5px 5px 20px #393939, -5px -5px 20px #2e2e2e;
    background: linear-gradient(145deg, #30363c, #013413b4);
    cursor: pointer;
    border: 1px solid rgb(135, 135, 135);
}

.imagen img {
    width: 400px;
    height: 500px;
    background: linear-gradient(145deg, #23272b, #23272b);
    margin: 100px;
    transition: .5s;
    border-radius: 50px;
}

.imagen img:hover {
    transform: translateY(-30px);
    filter: blur(0);
    transition: .5s;
    border-radius: 50px;
    background: linear-gradient(145deg, #30363c, #05792d5a);
    box-shadow: 5px 5px 20px #393939, -5px -5px 20px #2e2e2e;
    border: 1px solid rgb(135, 135, 135);
}

/* fin de sobre mi*/
